* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* ===== FULL PAGE BACKGROUND ===== */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    transition: background 0.4s linear, color 0.4s ease;
    scroll-behavior: smooth;
    background-image: url("https://img.freepik.com/premium-photo/3d-render-call-center-desks-with-customers-against-solid-background-concept-3d-rendering-call-center-desks-customer-interaction-solid-background_918839-381788.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ===== HEADER ===== */
header {
    color: #05436f;
    text-shadow: 0 8px 16px rgb(55, 108, 224);
    padding: 15px 30px;
    border-radius: 8px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    font-family: Georgia;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menuBtn {
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow:  0 4px 12px rgba(121, 128, 230, 0.2);
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: auto;
    transition: transform 0.3s ease-in;

}

#menuBtn:hover{
  transform: scale(1.05);
  background-color: black;
  color: #eaf2f8;
}

/* ===== MENU ===== */
nav {
    margin-top: 10px;
    width: 100%;
    padding: 4px 8px ;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    border: 1.5px solid rgba(255, 255, 255, 0.132);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    font-family: Georgia;
    
}

nav ul {
    list-style: none;
    transition: transform 0.4s;
}

nav ul:hover{
    transform: scale(1.01);
}

nav ul li {
    padding: 15px 30px;
    border-bottom: 1px solid #6adaeb;
    cursor: pointer;
    color: #1292f5;
}

.submenu {
    display: none;
    background: #eaf2f8;
    color: black;
    margin-top: 5px;
    border-radius: 14px;
    border: 1px solid gray;
    
}

.submenu li {
    padding: 8px 15px;
    border-bottom: 1px solid gray;
    border-radius: 14px;
    color: black;
    
}

.submenu a{
    text-decoration: none;
    color: black;
}

nav ul li:hover .submenu {
    display: block;
}

.hidden {
    display: none;
}

/* ===== MAIN CONTENT ===== */
main {
    flex: 1;
    padding: 30px;
    text-align: center;
    margin: 20px;
    border-radius: 15px;
}

.logo {
    width: 180px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.academy-info h2 {
    color: #031063;
}

.blink{
    margin-top: 20px;
    padding: 10px 20px;
    
}
.btn{
    padding: 8px 16px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
     background: linear-gradient(135deg, #010c46, #8139ee);
     cursor: pointer;
     animation: link 1.2s infinite;
}

@keyframes link{
       0% {
        transform: scale(1);
    }
    25% {

        transform: scale(1.05);
    }

    50%{
        transform: scale(1.08);
    }
    75% {
        transform: scale(1.05);
    }
    100% {

        transform: scale(1);
    }
    
}


/* Popup Overlay */
.popup-overlay {
     display: none;   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 9999;
    align-items: center;
    justify-content: center;
}


.popup-box {
    background: white;
    width: 320px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    animation: popupFade 0.3s ease;
}

.popup-box h2 {
    margin-bottom: 15px;
}


.popup-box input,
.popup-box select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


.popup-buttons {
    display: flex;
    justify-content: space-between;
}

.popup-buttons button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup-buttons button:first-child {
    background: green;
    color: white;
}

.close-btn {
    background: red;
    color: white;
}


@keyframes popupFade {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.error {
    color: red;
    font-size: 13px;
    text-align: left;
    display: block;
    margin-bottom: 8px;
}


.why-choose {
    margin-top: 30px;
}

.why-choose ul {
    list-style: none;
}

.why-choose li {
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}
.why-choose li:hover{
    transform: scale(1.05);
}

/* ===== FOOTER ===== */
footer {
    background: #0a3d62;
    color: white;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

footer h3 {
    margin-bottom: 10px;
}

footer p {
    margin: 5px 0;
}

.mail a{
    text-decoration: none;
    color: #eaf2f8;
    cursor: pointer;
}

.copyright {
    text-align: center;
}

/* ===== MOBILE RESPONSIVE ===== */
@media (max-width: 600px) {
    .header-top h1 {
        font-size: 16px;
    }

    main {
        margin: 10px;
        padding: 20px;
    }
}
